<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ABDO/IdeaProjects/SwaGlagTest"><classes><class name="Tests.Login_Test"><methods><include name="useronly"/><include name="passonly"/><include name="wrong_login"/><include name="Succ_Login"/></methods></class><class name="Tests.Products_Test"><methods><include name="check_A_Z"/><include name="check_Z_A"/><include name="check_hi_lo"/><include name="check_lo_hi"/><include name="All_items"/><include name="Reset"/><include name="Logout"/><include name="About"/><include name="Add_item_and_cheeck"/><include name="Remove"/><include name="Check"/><include name="Filldata"/><include name="finish"/></methods></class></classes></test></suite>